<?xml version="1.0"?>
<robot name="turtlebot3_senseless_waffle_sim" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="imu_visual"  default="false"/>
  <xacro:arg name="mu_value"    default="20"/>
  <xacro:arg name="tf_prefix"   default=""/>

  <xacro:property name="tf_prefix" value="$(arg tf_prefix)"/>
  <xacro:property name="odom_frame_base_name" value="odom"/>
  <xacro:property name="robot_base_frame_base_name" value="base_footprint"/>
  <xacro:property name="imu_link_frame_base_name" value="imu_link"/>

  <xacro:if value="${tf_prefix != ''}">
    <xacro:property name="odom_frame" value="${tf_prefix}/${odom_frame_base_name}"/>
    <xacro:property name="robot_base_frame" value="${tf_prefix}/${robot_base_frame_base_name}"/>
    <xacro:property name="imu_body_name" value="${tf_prefix}/${imu_link_frame_base_name}"/>
  </xacro:if>

  <xacro:if value="${tf_prefix == ''}">
    <xacro:property name="odom_frame" value="${odom_frame_base_name}"/>
    <xacro:property name="robot_base_frame" value="${robot_base_frame_base_name}"/>
    <xacro:property name="imu_body_name" value="${imu_link_frame_base_name}"/>
  </xacro:if>

  <gazebo reference="base_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="marker_link">
    <material>aruco_fam4x4_1000_id25_sdf/Image</material>
  </gazebo>

  <gazebo reference="wheel_left_link">
    <mu1>$(arg mu_value)</mu1>
    <mu2>$(arg mu_value)</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="wheel_right_link">
    <mu1>$(arg mu_value)</mu1>
    <mu2>$(arg mu_value)</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="caster_back_right_link">
    <mu1>$(arg mu_value)</mu1>
    <mu2>$(arg mu_value)</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>1.0</maxVel>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="caster_back_left_link">
    <mu1>$(arg mu_value)</mu1>
    <mu2>$(arg mu_value)</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>1.0</maxVel>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="imu_link">
    <sensor type="imu" name="imu">
      <always_on>true</always_on>
      <visualize>$(arg imu_visual)</visualize>
    </sensor>
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo>
    <plugin name="turtlebot3_waffle_controller" filename="libgazebo_ros_diff_drive.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>${odom_frame}</odometryFrame>
      <odometrySource>world</odometrySource>
      <publishOdomTF>true</publishOdomTF>
      <robotBaseFrame>${robot_base_frame}</robotBaseFrame>
      <publishWheelTF>false</publishWheelTF>
      <publishTf>true</publishTf>
      <publishWheelJointState>true</publishWheelJointState>
      <legacyMode>false</legacyMode>
      <updateRate>30</updateRate>
      <leftJoint>wheel_left_joint</leftJoint>
      <rightJoint>wheel_right_joint</rightJoint>
      <wheelSeparation>0.287</wheelSeparation>
      <wheelDiameter>0.066</wheelDiameter>
      <wheelAcceleration>1</wheelAcceleration>
      <wheelTorque>10</wheelTorque>
      <rosDebugLevel>na</rosDebugLevel>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>${imu_link_frame_base_name}</bodyName>
      <frameName>${imu_body_name}</frameName>
      <topicName>imu</topicName>
      <serviceName>imu_service</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>0</updateRate>
      <imu>
        <noise>
          <type>gaussian</type>
          <rate>
            <mean>0.0</mean>
            <stddev>2e-4</stddev>
            <bias_mean>0.0000075</bias_mean>
            <bias_stddev>0.0000008</bias_stddev>
          </rate>
          <accel>
            <mean>0.0</mean>
            <stddev>1.7e-2</stddev>
            <bias_mean>0.1</bias_mean>
            <bias_stddev>0.001</bias_stddev>
          </accel>
        </noise>
      </imu>
    </plugin>
  </gazebo>

</robot>
